*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Open Sans";
    padding-bottom: 10px;
}

.logo img{
    float: left;
    max-width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-right: 600px;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-right: -50px;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-size: 15px;
}

.line{
    width: 100%;
    border-bottom: 2px solid #d7d7d7;
}

.category{
    margin-left: 170px;
    margin-top: 18px;
    background: white;
    box-shadow: 2px -2px 25px 0px rgba(0,0,0,0.17);
    border-style: none none solid none ;
    border-width: 1px;
    border-color: #e0245e;
    height: 40px;
    width: 600px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

#category{
    box-shadow: 2px -2px 25px 0px rgba(0,0,0,0.17);
    border: none;
    font-size: 15px;
    padding: 5px;   
    cursor: pointer; 
}


.search_cart{
    width: 100%;
    height: 70px;
}

.search_cart img{
    float: right;
    margin-top: 18px;
    max-width: 100%;
    height: 40px;
}

.cart{
    margin-right: 68px;
}

.search{
    filter: invert(100%);
    margin-right: 20px;
    padding: 10px;
    background: #1fdba1;
}

#search{
    float: right;
    margin-top: 18px;
    height: 40px;
    width: 200px;
    background: #d7d7d7;
    border: none;
    font-size: 15px;
    padding: 10px;
}

.inventory{
    margin: auto;
    margin-top: 30px;
    width: 75%;
    box-shadow: 2px -2px 25px 0px rgba(0,0,0,0.17);
    height: 1000px;
}

.item1{
    height: 370px;
    width: 200px;
    align-items: center;
    float: left;
    margin-top: 25px;
    margin-left: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid transparent;
}

#price{
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    color: #e0245e;
}

#label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

#discription{
    font-size: 12px;
    margin-bottom: 5px;
}

.inventory img{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.17);
    margin-bottom: 10px;
    max-width: 100%;
}

#buy{
    background-color: #e0245e;
    color: white;
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    height: 30px;
    width: 100px;    
}

#add_cart{
    border: none;
    background-color: transparent;
}


#shopNow{
    float: left;    

}

.adPanel{
    position: relative;
    width: 100%;
}

.adPanel img{
    width: 100%;
    height: auto;
}

.adPanel .shopNow {
    position: absolute;
    top: 82%;
    left: 10%;
    background-color: #e0245e;
    color: white;
    font-size: 135%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 28%;
    height: 10%;
}

.shopNow:hover{
    background-color: #a51845;
}


.container{
    padding-left: 13%;
    margin: 15px;
}

.container img{ 
margin-top: 25px;
margin-left: 40px;
padding-right: 10px;
padding-left: 10px;
cursor: pointer;
}

.footer{
    font-size: 95%;
    float: right;
    margin-right: 10%;
    margin-bottom: 10px;
}



