*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

nav{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    height: 100%;
}

.logo img{
    float: left;
    width: 70%;
    height: auto;
    margin-left: 5%;
    justify-content: space-around;
}


.nav_links img{
    float: right;
    width:3%;
    height: auto;
    margin-right: 2.5%;
}

#search_icon{
    width:2%;
    margin-top: 0.5%;
}

.nav_links p{
    float: right;
}

.nav_links li{
    list-style: none;
}

.nav_links ul{
    margin-right: 2.5%;
    float: right;
    margin-top: 0.5%;
    justify-content: space-around;
    display: flex;
    width: 20%;
    height: auto;
}

.nav_links a{
    font-size: 100%;
    text-decoration: none;
    color: #242424;
    font-weight: bold;
}

#shop{
    color: #e0245e;
}



.line{
    width: 100%;
    border-bottom: 2px solid #d7d7d7;
}

.category{
    margin-left: 10%;
    margin-top: 2.5%;
    background: white;
    box-shadow: 2px -2px 25px 0px rgba(0,0,0,0.17);
    border-style: none none solid none ;
    border-width: 1px;
    border-color: #e0245e;
    height: 40%;
    width: 80%;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

#category{
    box-shadow: 2px -2px 25px 0px rgba(0,0,0,0.17);
    border: none;
    font-size: 15px;
    padding: 5px;   
    cursor: pointer; 
}


.search_cart{
    width: 100%;
    height: 70px;
}


.inventory{
    margin: auto;
    margin-top: 30px;
    width: 80%;
    box-shadow: 2px -2px 25px 0px rgba(0,0,0,0.17);
    height: 1000px;
}

.item1{
    height: 370px;
    width: 200px;
    align-items: center;
    float: left;
    margin-top: 25px;
    margin-left: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid transparent;
}

#price{
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    color: #e0245e;
}

#label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

#discription{
    font-size: 12px;
    margin-bottom: 5px;
}

.inventory img{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.17);
    margin-bottom: 10px;
    max-width: 100%;
}

#buy{
    background-color: #e0245e;
    color: white;
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    height: 30px;
    width: 100px;    
}

#add_cart{
    border: none;
    background-color: transparent;
}

#shopNow{
    float: left;    

}

.adPanel{
    position: relative;
    width: 100%;
}

.adPanel img{
    width: 100%;
    height: auto;
}

.adPanel .shopNow {
    position: absolute;
    top: 82%;
    left: 10%;
    background-color: #e0245e;
    color: white;
    font-size: 135%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 28%;
    height: 10%;
}

.shopNow:hover{
    background-color: #a51845;
}


.container{
    padding-left: 13%;
    margin: 15px;
}

.container img{ 
margin-top: 25px;
margin-left: 40px;
padding-right: 10px;
padding-left: 10px;
cursor: pointer;
}

.footer{
    font-size: 95%;
    float: right;
    margin-right: 10%;
    margin-bottom: 10px;
}
