*{
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.dark_bg{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.pop_up{
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.pop_up input{
    width: 50%;
    margin: 2%;
    padding: 5px;
}

button{
    border: none;
    background-color: burlywood;
    padding: 10px;
    color: white;
}

.close{
    color: black;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}